---
layout: layout.liquid
title: "Random Name Generator"
---

<div x-data="{ 
        names: ['Ibrahim', 'Luke', 'Sahana', 'Chloe', 'Connor', 'Dylan', 'Patrick', 'Richard', 'Michael', 'Trevor', 
                'Harley', 'Adi', 'Ting', 'Meri', 'Joshua', 'Aaron', 'Alva', 'Jason', 'Jose', 'Jamil', 
                'Jeffrey', 'Navya', 'Gabrielle', 'Nathan', 'Demo'], 
        randomName: 'Click the button to generate a name'
    }">
    <h1 x-text="randomName"></h1>
    <button @click="randomName = names[Math.floor(Math.random() * names.length)]">
        Generate Random Name
    </button>
</div>